body{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

:root{
  --color-accent: deeppink;
  --color-bg-alt: bisque;
}

/* Header -------------------- */

.header{
  background-color: var(--color-bg-alt);
  h1{
    padding: 1em;
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* Container -------------------- */

.container{
  padding:0 .5rem;
}

/* Card -------------------- */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin: .5rem;
}

.card{
  background-color: var(--color-bg-alt);
  padding: .5rem;
  position: relative;
  border-radius: 4px;
}

.card .dlc{
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: 4px;
}

.card img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 4px;
}

.user-greeting{
  text-align: center;
  padding:1em;
  font-weight: bold;
}

.user-greeting span{
  background-color: var(--color-accent);
  color: white;
  padding: .2em .4em;
}

.list-item{
  padding: 1rem 0;
}