body{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

:root{
  --color-foreground: rgb(61, 70, 8);
  --color-accent: deeppink;
  --color-bg-alt: bisque;
  --border-radius: 4px;
  --block-padding--shallow: 1rem;
  --block-padding: 2rem;
}

/* Some resets --------------- */

p, ul, ol, img, li, h1, h2, h3, h4, h5, h6{
  padding-top: 0;
  margin-top: 0;
}

input, button{
  margin-bottom: var(--block-padding--shallow);
}

button{
  background-color: var(--color-foreground);
  border: none;
  text-transform: uppercase;
  padding: .5em .8em;
  margin: .5em;
  color: white;
  font-weight: bold;
}

/* Header -------------------- */

.header{
  background-color: var(--color-bg-alt);
  h1{
    padding: var(--block-padding);
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* Container -------------------- */

.container{
  padding:0 var(--block-padding);
}

/* Card -------------------- */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin: .5rem;
}

.card{
  background-color: var(--color-bg-alt);
  padding: .5rem;
  position: relative;
  border-radius: var(--border-radius);
  list-style: none;
}

.card .dlc{
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: var(--border-radius);
}

.card img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.user-greeting{
  text-align: center;
  padding:1em;
  font-weight: bold;
}

.highlight{
  background-color: var(--color-accent);
  color: white;
  padding: .2em .4em;
}

.list-item{
  padding: var(--block-padding);
}

.profileImage{
  width: 300px;
  height: 300px;
  display: block;
  border-radius: var(--border-radius);
  padding: var(--block-padding);
}

.profileSetter{
  background-color: var(--color-accent);
  color: white;
  padding: var(--block-padding);
}

.counter{
  padding: var(--block-padding);
}

.form{
  padding: var(--block-padding);
  background: var(--color-bg-alt);
}