body{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

:root{
  --color-foreground: #3d4608;
  --color-accent: #ff1493;
  --color-bg-alt: bisque;
  --color-feint-line: #e5e5e5;
  --border-radius: 4px;
  --block-spacing--shallow: 1rem;
  --block-spacing: 2rem;
  --font-size-std: 1rem;
  --font-size-small: .8rem;
}

/* Some resets --------------- */

p, ul, ol, img, li, h1, h2, h3, h4, h5, h6, input, select, textarea, label{
  padding-top: 0;
  margin-top: 0;
}

input, button, label, textarea{
  margin-bottom: var(--block-spacing--shallow);
}

/* Some common elements --------------- */

hr{
  border: 0;
  background-color: black;
  height: 1px;
  margin-bottom: var(--block-spacing);
}

button{
	border: none;
	cursor: pointer;
}

.button{
	border: none;
	cursor: pointer;
	background-color: var(--color-foreground);border: none;
	text-transform: uppercase;
	padding: .5em .8em;
	color: white;
	font-weight: bold;
	border-radius: var(--border-radius);
}

.button-group{
	display:flex;
	gap:.5em;
}

li{
	list-style-type: square;
	&::marker{
		color: var(--color-accent);
	}
}

/* Header -------------------- */

.header{
  background-color: var(--color-bg-alt);
  h1{
    padding: var(--block-spacing);
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* Container -------------------- */

.container{
  padding:0 var(--block-spacing);
}

/* Card -------------------- */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5rem;
  margin: .5rem;
}

.card{
  background-color: var(--color-bg-alt);
  padding: .5rem;
  position: relative;
  border-radius: var(--border-radius);
  list-style: none;
}

.card .dlc{
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
}

.card img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-bottom: var(--block-spacing--shallow);
}

.card .like-button{
  margin: 0;
  background:white;
  color: black;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: var(--font-size-small);
  padding: .5rem;
}

.user-greeting{
  text-align: center;
  padding:1em;
  font-weight: bold;
}

.highlight{
  background-color: var(--color-accent);
  color: white;
  padding: .2em .4em;
}

.list-item{
  padding: var(--block-spacing);
}

.profileImage{
  width: 300px;
  height: 300px;
  display: block;
  border-radius: var(--border-radius);
  padding: var(--block-spacing);
}

.profileSetter{
  background-color: var(--color-accent);
  color: white;
  padding: var(--block-spacing);
}

.counter{
  padding: var(--block-spacing);
}

/* Form -------------------- */

.form{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 200px;
	margin-bottom: var(--block-spacing);
}

input{
	margin-bottom: 0;
	border-radius: var(--border-radius);
}

input[type='text'],
input[type='textarea'],
input[type='number']{
	padding: .5em;
}
  
.form__section{
	display: flex;
	flex-direction: column;
	margin-top: var(--block-spacing--shallow);
	label{
		display: block;
		margin-bottom: .5em;
		font-size: .8rem;
	}
}

.form__section--submit{
	margin-top: var(--block-spacing);
}

/* Color picker -------------------- */

.color-picker{
  padding: var(--block-spacing);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.color-picker .choose__item{
  display: flex;
  align-items: center;
  gap: 1em;
}

.color-picker .result .inner{
  border: 1px solid var(--color-feint-line);
  padding: 1rem;
  display: inline-block;
}

/* Truck categories -------------- */

.truck-categories__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  margin: .5rem;
}

.truck-categories__item{
  background-color: var(--color-bg-alt);
  border-radius: var(--border-radius);
  padding: 1rem;
}

/* Fave truck --------------- */

.fave-truck{
  padding: var(--block-spacing);
}

/* Fave regions --------------- */

.fave-regions{
	padding: var(--block-spacing);
}

.fave-regions__list__remove{
	background: none;
	padding: 0;
	margin: 0;
	margin-left: .5em;
	border-radius: unset;
	color: var(--color-accent);
	text-transform: unset;
	font-size: inherit;
	font-weight: unset;
}

/* Truck maker --------------- */

.truck-maker{
	padding: var(--block-spacing);
}

/* Todo list ----------------- */

.todolist{
	padding: var(--block-spacing);
	--component-width: 500px;
}

.todolist__list{
	padding-left: 0;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: auto;
	width: var(--component-width);
	padding-bottom: .5em;
	margin-bottom: var(--block-spacing);
}

.todolist__item{
	list-style: none;
	margin-left: 0;
	display: flex;
	gap: .5em;
	width: 100%;
}

.todolist__item__name{
	background-color: var(--color-bg-alt);
	padding: .5em 1em;
	border-radius: var(--border-radius);
	flex-grow: 1;
	font-weight: bold;
}

.todolist__item__shift{
	background: transparent;
	margin: 0;
	flex-shrink: 0;
	border:1px solid var(--color-foreground);
	color: var(--color-foreground);
	display: flex;
	align-items: center;
	justify-content: center;
}

.todolist__item button{
	margin-bottom: 0;
	line-height: 1;
	&:hover{
		background: var(--color-accent);
		color: white;
	}
}

.todolist__form{
	display: flex;
	gap: .5em;
	width: var(--component-width);
	button{
		margin-bottom: 0;
	}
	input[type='text']{
		flex-grow: 1;
		flex-shrink: 0;
		padding-left: 1em;
		padding-right: 1em;
	}
}

/* Footer -------------------- */

.footer{
  padding: var(--block-spacing);
  height: 300px;
}
